/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'GothamMedium';
  src: url("../../fonts/gothamMedium/Gotham-Medium.eot");
  src: url("../../fonts/gothamMedium/Gotham-Medium.woff") format("woff"), url("../../fonts/gothamMedium/Gotham-Medium.ttf") format("truetype"), url("../../fonts/gothamMedium/Gotham-Medium.svg#GothamMedium") format("svg"), url("../../fonts/gothamMedium/Gotham-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBook';
  src: url("../../fonts/gothamBook/Gotham-Book.eot");
  src: url("../../fonts/gothamBook/Gotham-Book.woff2") format("woff2"), url("../../fonts/gothamBook/Gotham-Book.woff") format("woff"), url("../../fonts/gothamBook/Gotham-Book.ttf") format("truetype"), url("../../fonts/gothamBook/Gotham-Book.svg#GothamBook") format("svg"), url("../../fonts/gothamBook/Gotham-Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamLight';
  src: url("../../fonts/gothamLight/Gotham-Light.eot");
  src: url("../../fonts/gothamLight/Gotham-Light.woff") format("woff"), url("../../fonts/gothamLight/Gotham-Light.ttf") format("truetype"), url("../../fonts/gothamLight/Gotham-Light.svg#GothamLight") format("svg"), url("../../fonts/gothamLight/Gotham-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBold';
  src: url("../../fonts/gothamBold/Gotham-Bold.eot");
  src: url("../../fonts/gothamBold/Gotham-Bold.woff") format("woff"), url("../../fonts/gothamBold/Gotham-Bold.ttf") format("truetype"), url("../../fonts/gothamBold/Gotham-Bold.svg#GothamBold") format("svg"), url("../../fonts/gothamBold/Gotham-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBookItalic';
  src: url("../../fonts/gothanBoldItalic/Gotham-BookItalic.eot");
  src: url("../../fonts/gothanBoldItalic/Gotham-BookItalic.woff") format("woff"), url("../../fonts/gothanBoldItalic/Gotham-BookItalic.ttf") format("truetype"), url("../../fonts/gothanBoldItalic/Gotham-BookItalic.svg#GothamBookItalic") format("svg"), url("../../fonts/gothanBoldItalic/Gotham-BookItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/*-----------GLOBAL-------------*/
/* line 145, ../sass/style.scss */
body {
  color: #2b2c2d;
  font-family: "GothamLight", san-serif;
  font-size: 14px;
  overflow-x: hidden;
}

/* line 147, ../sass/style.scss */
a {
  color: #2b2c2d;
  text-decoration: none;
}

/* line 149, ../sass/style.scss */
a:hover {
  color: #1864af;
}

/* line 151, ../sass/style.scss */
input:focus, select:focus, texarea:focus {
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.68);
  outline-style: none;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
}

/* line 157, ../sass/style.scss */
input[type="text"], select {
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 60px;
  padding: 0 20px;
  font-size: 14px;
  color: #2b2c2d;
  margin: 13px 0 0 0;
  font-family: "GothamBook", san-serif;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}

/* line 170, ../sass/style.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 175, ../sass/style.scss */
select {
  background: url(../../images/arrow_down.png) #fff no-repeat 95% center;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-family: "GothamBook", san-serif;
}

/* line 186, ../sass/style.scss */
select::-ms-expand, select option[disabled] {
  display: none;
}

/* line 188, ../sass/style.scss */
textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 200px;
  margin: 5px 0 0 0;
  padding: 20px 20px;
  font-family: "GothamBook", san-serif;
  font-size: 14px;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* line 201, ../sass/style.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 205, ../sass/style.scss */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* line 211, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b2b2b2;
}

/* line 218, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "GothamBook", san-serif;
  margin: 0 0 10px 0;
}

/* line 220, ../sass/style.scss */
h1 {
  font-size: 42px;
}

/* line 222, ../sass/style.scss */
h2 {
  font-size: 30px;
}

/* line 224, ../sass/style.scss */
h3 {
  font-size: 20px;
}

/* line 226, ../sass/style.scss */
h4 {
  font-family: "GothamMedium", san-serif;
  font-size: 13px;
}

/* line 232, ../sass/style.scss */
strong {
  font-family: "GothamBold", san-serif;
  font-weight: 700;
}

/* line 233, ../sass/style.scss */
hr {
  height: 1px;
  border: 0;
  background: #666666;
  padding: 0;
  margin: 0 0 15px 0;
}

/*-----------CUSTOM-------------*/
/* line 237, ../sass/style.scss */
.clr:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 239, ../sass/style.scss */
.clr2 {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 241, ../sass/style.scss */
.clr3 {
  display: block;
  clear: both;
}

/* line 243, ../sass/style.scss */
.left {
  float: left;
}

/* line 245, ../sass/style.scss */
.right {
  float: right;
}

/* line 247, ../sass/style.scss */
.wrap {
  width: 1100px;
  margin: 0 auto;
}

/* line 249, ../sass/style.scss */
a.readReview {
  background: url(../../images/book_icon.png) no-repeat right center;
  display: inline-block;
  font-family: "GothamLight", san-serif;
  color: #fbd243;
  padding: 0 17px 0 0px;
  margin: 8px 0 0 0;
}

/* line 258, ../sass/style.scss */
.conHalf {
  width: 48%;
  float: left;
  margin: 0 0 0 10px;
}

/* line 262, ../sass/style.scss */
.btn {
  background: #02377b;
  color: #fff;
  font-size: 16px;
  border: none;
  display: inline-block;
  padding: 18px 25px;
  display: inline-block;
  cursor: pointer;
  min-width: 260px;
  font-family: "GothamBold", san-serif;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
}

/* line 276, ../sass/style.scss */
.btn:hover {
  background: #d68d00;
}

/*-----------HEADER-------------*/
/* line 281, ../sass/style.scss */
#header .wrap {
  padding: 10px 0 10px 0;
}
/* line 283, ../sass/style.scss */
#header .wrap #logo {
  padding: 10px 0 5px 0;
}
/* line 285, ../sass/style.scss */
#header .wrap #logo img {
  max-width: 100%;
}
/* line 289, ../sass/style.scss */
#header .wrap .hRight .topTxt ul {
  line-height: 23px;
  font-family: "GothamBook", san-serif;
  font-size: 14px;
}
/* line 291, ../sass/style.scss */
#header .wrap .hRight .topTxt ul li {
  list-style-image: url(../../images/check.png);
}

/*-----------NAVIGATION-------------*/
/*-----------FOOTER-------------*/
/* line 310, ../sass/style.scss */
#footer {
  color: #aaa;
  padding: 30px 0;
  font-size: 13px;
}
/* line 314, ../sass/style.scss */
#footer .wrap {
  padding: 0 0 5px 0;
  border-bottom: solid 1px #efefef;
}
/* line 317, ../sass/style.scss */
#footer .wrap .ftCol {
  float: left;
  width: 25%;
}
/* line 320, ../sass/style.scss */
#footer .wrap .ftCol:nth-child(3) {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}
/* line 325, ../sass/style.scss */
#footer .wrap .ftCol:nth-child(2) {
  text-align: right;
  float: right;
}
/* line 328, ../sass/style.scss */
#footer .wrap .ftCol:nth-child(2) a {
  display: inline-block;
  margin: 0 0 13px 0;
}
/* line 333, ../sass/style.scss */
#footer .wrap .ftCol .ftNav {
  padding: 20px 0 20px 0;
}
/* line 335, ../sass/style.scss */
#footer .wrap .ftCol .ftNav li {
  display: inline-block;
}
/* line 337, ../sass/style.scss */
#footer .wrap .ftCol .ftNav li a {
  color: #aaa;
  font-size: 14px;
}
/* line 339, ../sass/style.scss */
#footer .wrap .ftCol .ftNav li a:hover {
  color: #1864af;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
}
/* line 344, ../sass/style.scss */
#footer .wrap .ftCol .ftNav li span {
  margin: 0 15px;
}
/* line 349, ../sass/style.scss */
#footer .wrap .ftCol .copyright {
  line-height: 20px;
  padding: 25px 0 0 0;
}

/*-----------CONTENT-------------*/
/* line 358, ../sass/style.scss */
#content {
  position: relative;
  color: #fff;
  background: #065d8d;
  background: radial-gradient(farthest-corner at center 100%, #0c7ab7 0%, #002665 75%);
  background: -webkit-radial-gradient(farthest-corner at center 100%, #0c7ab7 0%, #002665 75%);
  background: -moz-radial-gradient(farthest-corner at center 100%, #0c7ab7 0%, #002665 75%);
  background: -o-radial-gradient(farthest-corner at center 100%, #0c7ab7 0%, #002665 75%);
  background: -ms-radial-gradient(farthest-corner at center 100%, #0c7ab7 0%, #002665 75%);
}
/* line 363, ../sass/style.scss */
#content:before {
  content: '';
  display: block;
  background: #065d8d;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
/* line 373, ../sass/style.scss */
#content .wrap {
  padding: 30px 0;
}
/* line 375, ../sass/style.scss */
#content .wrap .conTitle {
  padding: 0 0 0 7px;
}
/* line 377, ../sass/style.scss */
#content .wrap .conTitle h1 {
  font-family: "GothamLight", san-serif;
}
/* line 380, ../sass/style.scss */
#content .wrap .conTitle h2 {
  font-family: "GothamMedium", san-serif;
}
/* line 385, ../sass/style.scss */
#content .wrap .conL {
  width: 47%;
  padding: 40px 0 0 0;
}
/* line 388, ../sass/style.scss */
#content .wrap .conL .inputDiv {
  margin: 0 0 25px 0;
}
/* line 390, ../sass/style.scss */
#content .wrap .conL .inputDiv label {
  padding: 0 0 0 10px;
  font-family: "GothamMedium", san-serif;
  font-size: 18px;
}
/* line 391, ../sass/style.scss */
#content .wrap .conL .inputDiv .input {
  position: relative;
}
/* line 393, ../sass/style.scss */
#content .wrap .conL .inputDiv .input input, #content .wrap .conL .inputDiv .input select {
  padding: 0 65px;
}
/* line 394, ../sass/style.scss */
#content .wrap .conL .inputDiv .input:before {
  display: block;
  position: absolute;
  top: 39%;
  left: 15px;
  background: #d68d00;
  font-size: 13px;
  padding: 7px 10px;
  font-family: "GothamMedium", san-serif;
  color: #fff;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 409, ../sass/style.scss */
#content .wrap .conL .inputDiv:first-child .input:before {
  content: '1';
  display: block;
}
/* line 417, ../sass/style.scss */
#content .wrap .conL .inputDiv:nth-child(2) .input:before {
  content: '2';
  display: block;
}
/* line 425, ../sass/style.scss */
#content .wrap .conL .conLTxt {
  text-align: center;
  font-size: 17px;
}
/* line 428, ../sass/style.scss */
#content .wrap .conL .conLTxt a {
  color: #fff;
  border-bottom: solid 1px rgba(108, 150, 190, 0);
}
/* line 431, ../sass/style.scss */
#content .wrap .conL .conLTxt a:hover {
  border-bottom: solid 1px #6c96be;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
}
/* line 435, ../sass/style.scss */
#content .wrap .conR {
  width: 39%;
}
/* line 438, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv {
  border-bottom: solid 1px #497aa8;
  padding: 25px 0 10px 0;
}
/* line 441, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rPerson {
  text-align: center;
  width: 23%;
}
/* line 444, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rPerson img {
  margin: 0 0 5px 0;
}
/* line 447, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rPerson .rDesc {
  font-size: 11px;
  line-height: 14px;
}
/* line 450, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rPerson .rDesc span {
  font-family: "GothamMedium", san-serif;
  font-size: 13px;
}
/* line 453, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon {
  width: 74%;
}
/* line 455, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .rHead {
  margin: 0 0 10px 0;
}
/* line 457, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .rHead h4 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0px;
}
/* line 460, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .rConTxt {
  font-family: "GothamBookItalic", san-serif;
  line-height: 18px;
  font-size: 11px;
}
/* line 464, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .rConTxt .rConBtn {
  text-align: right;
}
/* line 466, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview {
  position: fixed;
  background: #fff;
  color: #000;
  top: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  z-index: 999999;
  padding: 20px 35px;
  box-sizing: border-box;
}
/* line 482, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview h3 {
  font-family: "GothamBook", san-serif;
  font-size: 25px;
  padding: 0 0 5px 0;
}
/* line 488, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv {
  font-size: 14px;
  padding: 0px 0 15px 0;
}
/* line 491, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .revCon {
  padding: 15px 0 0 0;
  border-top: solid 1px #666;
}
/* line 497, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .revPerson img {
  width: 82px;
  margin: 0 20px 0 0;
}
/* line 501, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .revPerson .revName {
  max-width: 80%;
  font-size: 15px;
  padding: 10px 0 0 0;
}
/* line 505, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .revPerson .revName h2 {
  font-family: "GothamBook", san-serif;
}
/* line 508, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .revPerson .revName .mRevAddress {
  color: #979da3;
  margin: 0 0 4px 0;
}
/* line 515, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .revTitle {
  display: inline-block;
}
/* line 517, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .revTitle span {
  font-size: 19px;
}
/* line 521, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratings {
  margin: 0;
  padding: 0 0 10px 0;
}
/* line 524, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratings h3 {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin: 0 10px 0 0px;
}
/* line 530, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratings .bigStar {
  background: url(../../images/star_big.png) no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 0 0 -2px;
  display: inline-block;
  vertical-align: middle;
}
/* line 538, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratings .bigStar.gray {
  background: url(../../images/star_big_gray.png) no-repeat;
}
/* line 542, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratingDiv {
  font-family: "GothamLight", san-serif;
  color: #212121;
}
/* line 547, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratingDiv .ratingTxt span {
  font-family: "GothamMedium", san-serif;
}
/* line 549, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratingDiv .ratings {
  padding: 0 8% 5px 0;
}
/* line 551, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratingDiv .ratings .star {
  margin: 0 0 0 -2px;
  height: 15px;
  width: 15px;
  background: url(../../images/star_medium.png) no-repeat;
}
/* line 557, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revConDiv .ratingDiv .ratings .star.gray {
  background: url(../../images/star_medium_gray.png) no-repeat;
}
/* line 564, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revTop .revCon {
  padding-bottom: 15px;
}
/* line 569, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revMiddle .revCon {
  padding-top: 25px;
  padding-bottom: 3px;
}
/* line 576, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revBot .revCon {
  padding: 25px 0 0 0;
}
/* line 578, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revBot .revCon .revTitle {
  margin: 0 0 12px 0;
}
/* line 580, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revBot .revCon .revTitle span {
  font-family: "GothamMedium", san-serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
/* line 587, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revBot .revCon .revTitle .ratings {
  padding: 0;
}
/* line 589, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revBot .revCon .revTitle .ratings .star {
  background: url(../../images/star_medium.png) no-repeat;
  width: 15px;
  height: 16px;
  margin: 0 0 0 -1px;
}
/* line 598, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .revBot .revCon .revConTxt {
  line-height: 20px;
}
/* line 604, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .close {
  text-align: right;
}
/* line 606, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv .rCon .modalReview .close span {
  color: #0000ff;
  cursor: pointer;
}
/* line 614, ../sass/style.scss */
#content .wrap .conR .conRIn .conRDiv:last-child {
  border-bottom: 0;
}

/* line 621, ../sass/style.scss */
.ratings {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0px;
}
/* line 625, ../sass/style.scss */
.ratings .star {
  background: url(../../images/star.png) no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}
/* line 632, ../sass/style.scss */
.ratings .star.gray {
  background: url(../../images/star_gray.png) no-repeat;
}

/* line 638, ../sass/style.scss */
.modals {
  position: fixed;
  top: 10%;
  width: 600px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #fff;
  padding: 15px 15px;
  box-sizing: border-box;
  z-index: 999999;
  display: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
/* line 652, ../sass/style.scss */
.modals .closeBtn, .modals #content .wrap .conR .conRIn .conRDiv .rCon .modalReview span, #content .wrap .conR .conRIn .conRDiv .rCon .modalReview .modals span {
  position: absolute;
  right: 13px;
  top: 13px;
  color: #adacac;
  font-size: 27px;
  cursor: pointer;
}
/* line 660, ../sass/style.scss */
.modals .modalDiv {
  padding: 15px;
}
/* line 661, ../sass/style.scss */
.modals .modalDiv .modalHead {
  padding: 20px 0 0 0;
}
/* line 663, ../sass/style.scss */
.modals .modalDiv .modalHead .num {
  float: left;
  background: #d68d00;
  font-size: 13px;
  padding: 7px 10px;
  font-family: "GothamMedium", san-serif;
  color: #fff;
  margin: 0px 20px 25px 0;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 673, ../sass/style.scss */
.modals .modalDiv .modalHead .modalHTxt {
  font-size: 17px;
  padding: 4px 0 0 0;
}
/* line 676, ../sass/style.scss */
.modals .modalDiv .modalHead .modalHTxt span {
  font-family: "GothamBold", san-serif;
}
/* line 680, ../sass/style.scss */
.modals .modalDiv form .clr {
  margin: 0 0 40px 0;
}
/* line 684, ../sass/style.scss */
.modals .modalDiv form .clr .conHalf .inputDiv {
  margin: 0 0 25px 0;
  font-size: 14px;
}
/* line 687, ../sass/style.scss */
.modals .modalDiv form .clr .conHalf .inputDiv input {
  margin: 0px 12px 0 0px;
  display: inline-block;
  vertical-align: middle;
}
/* line 696, ../sass/style.scss */
.modals .modalDiv form .categorySubmit {
  text-align: center;
}

/* line 701, ../sass/style.scss */
.otherCategory {
  width: 730px;
  top: 5%;
}
/* line 705, ../sass/style.scss */
.otherCategory .modalDiv .modalHead {
  padding: 0 0 25px 0;
}
/* line 707, ../sass/style.scss */
.otherCategory .modalDiv .modalHead h3 {
  margin: 0 0 5px 0;
}
/* line 709, ../sass/style.scss */
.otherCategory .modalDiv .modalCon {
  overflow-y: auto;
  max-height: 450px;
}
/* line 712, ../sass/style.scss */
.otherCategory .modalDiv .modalCon ul {
  margin: 0;
}
/* line 715, ../sass/style.scss */
.otherCategory .modalDiv .modalCon ul li {
  margin: 0 0 15px 0;
}
/* line 717, ../sass/style.scss */
.otherCategory .modalDiv .modalCon ul li a {
  color: #1864af;
}
/* line 719, ../sass/style.scss */
.otherCategory .modalDiv .modalCon ul li a:hover {
  text-decoration: underline;
}

/* line 731, ../sass/style.scss */
.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999998;
  display: none;
}

/*-----------RESPONSIVE-------------*/
@media screen and (max-width: 1100px) {
  /* line 745, ../sass/style.scss */
  .wrap {
    width: 98%;
  }

  /* line 746, ../sass/style.scss */
  #logo {
    width: 460px;
  }
}
@media screen and (max-width: 979px) {
  /* line 752, ../sass/style.scss */
  #content .wrap .conR {
    width: 47%;
  }
}
@media screen and (max-width: 767px) {
  /* line 757, ../sass/style.scss */
  #logo {
    width: auto;
  }
  /* line 759, ../sass/style.scss */
  #logo img {
    display: none;
  }
  /* line 760, ../sass/style.scss */
  #logo:before {
    content: '';
    width: 191px;
    height: 48px;
    display: block;
    background: url(../../images/logo2.jpg) #fff no-repeat center center;
  }

  /* line 771, ../sass/style.scss */
  #content .wrap .conL {
    width: 100%;
    float: none;
  }
  /* line 774, ../sass/style.scss */
  #content .wrap .conR {
    width: 470px;
    float: none;
    margin: 60px auto 0 auto;
  }
  /* line 778, ../sass/style.scss */
  #content .wrap .conR h3 {
    text-align: center;
  }

  /* line 785, ../sass/style.scss */
  #footer .wrap .ftCol {
    width: 100%;
    text-align: center !important;
  }
  /* line 788, ../sass/style.scss */
  #footer .wrap .ftCol:first-child {
    margin: 0 0 15px 0;
  }
  /* line 791, ../sass/style.scss */
  #footer .wrap .ftCol:nth-child(3) {
    width: 100%;
  }
  /* line 794, ../sass/style.scss */
  #footer .wrap .ftCol .copyright {
    padding: 0;
  }

  /* line 799, ../sass/style.scss */
  .modals {
    width: 95% !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 806, ../sass/style.scss */
  #header .wrap #logo {
    text-align: center;
  }
  /* line 808, ../sass/style.scss */
  #header .wrap #logo img {
    display: inline-block;
    max-width: 80%;
  }
  /* line 809, ../sass/style.scss */
  #header .wrap #logo:before {
    display: none;
  }
  /* line 811, ../sass/style.scss */
  #header .wrap .hRight {
    text-align: center;
    float: none;
  }
  /* line 814, ../sass/style.scss */
  #header .wrap .hRight ul {
    display: inline-block;
    padding: 0px 0 0 20px;
  }

  /* line 825, ../sass/style.scss */
  #content .wrap .conL, #content .wrap .conTitle {
    text-align: center;
  }
  /* line 828, ../sass/style.scss */
  #content .wrap .conR {
    width: 100%;
    text-align: center;
  }
  /* line 831, ../sass/style.scss */
  #content .wrap .conR .rPerson {
    width: 100% !important;
  }
  /* line 835, ../sass/style.scss */
  #content .wrap .conR .rCon {
    width: 100% !important;
    margin: 10px 0 0 0;
  }
  /* line 839, ../sass/style.scss */
  #content .wrap .conR .rCon .rHead h4 {
    width: 100%;
    display: block;
    margin: 0 15px 5px 0px !important;
  }
  /* line 842, ../sass/style.scss */
  #content .wrap .conR .rConBtn {
    text-align: center !important;
  }

  /* line 850, ../sass/style.scss */
  #footer .wrap .ftCol .ftNav li {
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
  }
  /* line 854, ../sass/style.scss */
  #footer .wrap .ftCol .ftNav li span {
    display: none;
  }
}
